
@{
    ViewBag.Title = "Index";
}

<link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
<link href="~/css/Projeto.css" rel="stylesheet" />

@Html.Partial("_Mapa")
<div class="flex-center position-ref full-height">
    <div class="content">
        <div id="cadastro" class="container">
            <div v-if="formulario.id != 0 && formulario.paginas.length > 0" id="formulario" class="page" v-bind:class="{ paginaPequena: formulario.paginas[paginaAtual].dimensao == 0, paginaMedia: formulario.paginas[paginaAtual].dimensao == 1, paginaGrande: formulario.paginas[paginaAtual].dimensao == 2, pageMin: minPage == true, overflowyauto: minPage == false }">
                <div v-if="formulario.paginas.length > 0" style="margin: 10px;">
                    <div class="pageHeader">
                        @Html.Partial("_PageHeader")
                    </div>
                    <div class="pageBody" id="pageBody">
                        @Html.Partial("_PageBody")
                    </div>

                    <br />
                    <div class="pageFooter text-center" style="vertical-align: text-bottom;" v-if="formulario.paginas.length - 1 != paginaAtual">
                        <button id="previous" v-on:click="voltarPaginaAnterior()" v-if="paginaAtual > 0" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                        <button id="next" v-on:click="avancarProximaPagina()" v-if="paginaAtual < formulario.paginas.length - 1 && (formulario.paginas[paginaAtual].final == false || formulario.paginas[paginaAtual].final == 'false')" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                        <button v-bind:disabled="(conteudoEditando != -1)" v-on:click="finalizarFormulario()" v-if="formulario.paginas[paginaAtual].final == true || formulario.paginas[paginaAtual].final == 'true'" class="btn btn-default"><i>Finalizar</i></button>
                    </div>
                </div>
            </div>
            @Html.Partial("_ConteudoDesenho")
            @Html.Partial("VerificarNovoDesenho")

            <div id="defineLocalizacao" class="form-group" style="position: absolute; display: none; top: 50%; left: 50%;">
                <div v-if="formulario.paginas[paginaAtual].conteudos[conteudoSelecionado] && formulario.paginas[paginaAtual].conteudos[conteudoSelecionado].valor != 2">
                    <button class="btn btn-danger" v-on:click="cancelarDesenho()">Cancelar</button>
                </div>
            </div>
            <div id="boxLocalizacao" class="form-group" style="position: absolute; display: none; top: 70%; padding: 5px; background: white; text-align: center;">
                <div v-if="formulario.paginas[paginaAtual].conteudos[conteudoSelecionado] && formulario.paginas[paginaAtual].conteudos[conteudoSelecionado].valor == 2">
                    <div v-if="selecionandoDesenhoExcluir == false">
                        <h5>{{ formulario.paginas[paginaAtual].conteudos[conteudoSelecionado].texto }}</label>
                        <p>
                            <small>Confirme ao selecionar todos os locais</small>
                        </p>
                        <div style="text-align: center;">
                            <!-- <button class="btn btn-danger" v-on:click="cancelarDesenho()">Cancelar</button> -->
                            <button class="btn btn-danger" v-on:click="selecionarDesenhoExcluir()"><span class="fa fa-trash"></span></button>
                            <button class="btn btn-success" v-on:click="abrirConteudosDesenhos()">Confirmar</button>
                        </div>
                    </div>
                    <div v-if="selecionandoDesenhoExcluir == true">
                        <label>Clique na marca que deseja excluir</label>
                        <button class="btn btn-default" v-on:click="cancelarSelecionarDesenhoExcluir()">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var rota = "@Url.Action("Teste")";
        var urlObterFormulariòParaEditar = "@Url.Action("ObterFormulariòParaEditar")";
        var urlSalvarFormulario = "@Url.Action("SalvarFormulario")";
        var urlSalvarPagina = "@Url.Action("SalvarPagina")";
        var urlSalvarConfiguracaoPagina = "@Url.Action("SalvarConfiguracaoPagina")";
        var urlSalvarConteudo = "@Url.Action("SalvarConteudo")";
        var urlSalvarRestricaoConteudo = "@Url.Action("SalvarRestricaoConteudo")";
        var urlFinalizarFormulario = "@Url.Action("FinalizarFormulario")";

        @using Newtonsoft.Json;
        @{
            JsonSerializerSettings jsSettings = new JsonSerializerSettings();
            jsSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;
        }
        var formularioModel = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None, jsSettings));
        console.log(formularioModel);
        console.log(JSON.stringify(formularioModel));
    </script>
    <script src="~/js/Home/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA881HMoL7z4WG8xPJvXNgTeywhEwxA7JQ&libraries=places,drawing&callback=initMap"
            async defer></script>
    <script src="~/js/Home/Mapa.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            //document.getElementById("map").style.display = "block";
        });
        $(function () {
            //$('#datetimepicker5').datetimepicker();
        });
        //$('#datetimepicker1').datetimepicker();
    </script>
}

